{{#if loginName}}
<h1>{{loginName}}</h1>
<a href="/admin/post" class="btn btn-primary">Public a Article</a>
{{else}}
<h1><a href="/login" class="btn btn-primary">Login</a></h1>
{{/if}}
{{#each list}}
<div class="article-item">
    <h3>{{this.title}}</h3>

    <p>{{{this.content}}}</p>

    <p><a class="btn btn-primary" href="/article/{{this.id}}">Read</a></p>
</div>
<br/>
{{/each}}
<div>
    <nav>
        <ul class="pager">
            {{#if isFirstPage}}
            <li><span class="glyphicon glyphicon-chevron-left disabled"></span><a class="btn disabled" href="?p={{pagePrev}}">Prev</a></li>
            {{else}}
            <li><span class="glyphicon glyphicon-chevron-left"></span><a href="?p={{pagePrev}}">Prev</a></li>
            {{/if}}
            {{#if isLastPage}}
            <li><a class="btn disabled" href="?p={{pageNext}}">Next</a><span
                    class="glyphicon glyphicon-chevron-right"></span></li>
            {{else}}
            <li><a href="?p={{pageNext}}">Next</a><span class="glyphicon glyphicon-chevron-right"></span></li>
            {{/if}}
        </ul>
    </nav>
</div>
